---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jaun Camilo Acosta " description="About Jaun Camilo Acosta  Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title=" Mi Perfil"
				tagline="A continuación una pequeña reseña para obtener más información sobre mí."
			>
				<img
					width="1553"
					height="873"
					src="/assets/yo_program.jpeg"
					alt="Jaun Camilo Acosta  at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Sobre Mi</h2>
				<div class="content">
					<p>
				Desde niños, he sentido una gran pasión por la tecnología. Ahora, con el surgimiento del Internet de las cosas y la automatización de procesos industriales a través de programadores, siento la necesidad de involucrarme en este medio para llevar adelante mis ideas y ayudar a las personas a encontrar soluciones a algunos de los problemas cotidianos a través de la tecnología.

				Creo firmemente que la tecnología tiene un papel muy importante en nuestra vida cotidiana y puede ser utilizada para mejorarla. Desde aplicaciones de salud hasta sistemas de transporte inteligentes, la tecnología nos brinda la oportunidad de resolver problemas cotidianos de manera más eficiente y efectiva.
										
					</p>
					
				
				</div>
			</section>
			<section>
				<h2 class="section-title">Educacion</h2>
				<div class="content">
					<p>Bootcamps de programación full stack Ucamp.</p>
				</div>
			</section>
			<!-- <section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section> -->
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
