---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jaun Camilo Acosta " description="About Jaun Camilo Acosta  Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Acerca de"
				tagline="Gracias por pasar.A continuación una puequña reseña para obtener más información sobre mí y mis antecedentes."
			>
				<img
					width="1553"
					height="873"
					src="/assets/yo_program.jpeg"
					alt="Jaun Camilo Acosta  at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Sobre Mi</h2>
				<div class="content">
					<p>
						La programación para mi es una meta que me propuse alcanzar, 
						a pesar de lo confuso que se pueda tornar en algunos momentos,
						es la una herramienta para tener una mejor calidad de vida, 
						y ayudar a otros y poner la tecnología al  alcance de todos, 
						y a yudar a los procesos empresariales
					</p>
					
				
				</div>
			</section>
			<section>
				<h2 class="section-title">Educacion</h2>
				<div class="content">
					<p>Ucamp es la plataforma de Cursos y bootcamps de desarrollo de habilidades digitales. aprende con cursos prácticos y clases en vivo.</p>
				</div>
			</section>
			<!-- <section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section> -->
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
